<h1>My Amazing Fruit Sorter</h1>

<div id="fruits">
  <ol id="sortable">
    <% @fruits.each do |fruit| %>
      <li>
        <%= render :partial => 'fruits/fruit', :locals => { :fruit => fruit } %>
      </li>
    <% end %>
  </ol>
</div>

<div class="nav">
  <%= link_to 'New Fruit', new_fruit_path %>
</div>